*{
    margin: 0;
    padding: 0;
}

#Inicio{
    font-family: 'Merriweather', serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../imagenes/fondologinoficial2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    position: relative;
    width: 400px;
    border: 4px solid rgba(86, 80, 92, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor h2{
    font-size: 2.3rem;
    color: #fff;
    text-align: center;
}
.centro{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}
.centro label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translatey(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.centro input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}
.centro img{
    position: absolute;
    font-size: 1.6rem;
    right: 9px;
    width: 40px;
    height: 40px;
    margin-top: 6px;
}
#c{
    right: 5px;
    width: 50px;
    height: 50px;
    margin-top: 3px;
}
.olvidar{
    margin: -15px 0 15;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.olvidar label a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
    font-size: 1.2em;
}
.olvidar label a:hover{
    text-decoration: underline;
}

button{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}
button:hover{
    opacity: .9;
}
